[Desktop Entry]
Type=Application
Name=chillerbot-ux
GenericName=Platform Game
Exec=chillerbot-ux %u
Icon=chillerbot-ux
Terminal=false
Keywords=game;multiplayer;
Categories=Game;ArcadeGame;
MimeType=x-scheme-handler/chillerbot-ux;
Comment=Launch chillerbot-ux
