<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<!-- Vulkan 1.1.0 is used if supported -->
	<uses-feature
		android:name="android.hardware.vulkan.version"
		android:version="0x00401000" />
	<!-- android:glEsVersion is not specified as OpenGL ES 1.0 is supported as fallback -->
	<uses-feature
		android:name="android.hardware.screen.landscape" />

	<!-- Teeworlds does broadcasts over local networks -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET" />

	<!-- usesCleartextTraffic because unencrypted UDP packets -->
	<application
		android:usesCleartextTraffic="true"
		android:label="@string/app_name"
		android:hasCode="true"
		android:supportsRtl="true"
		android:isGame="true"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		<activity
			android:name="org.ddnet.client.NativeMain"
			android:exported="true"
			android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
			android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
				android:name="android.app.lib_name"
				android:value="DDNet" />
		</activity>
	</application>
</manifest>
