---
Language: Cpp
AccessModifierOffset: -8
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakStringLiterals: true
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyNamespace: true
  SplitEmptyRecord: true
#ColumnLimit: 100
ColumnLimit: 0
CommentPragmas: '^[^ ]'
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"'
    Priority:        1
  - Regex:           '^<antibot/'
    Priority:        2
  - Regex:           '^<base/'
    Priority:        3
  - Regex:           '^<engine/'
    Priority:        4
  - Regex:           '^<generated/'
    Priority:        5
  - Regex:           '^<game/'
    Priority:        6
  - Regex:           '^<android/'
    Priority:        7
  - Regex:           '^<steam/'
    Priority:        8
  - Regex:           '^<.*\.h>'
    Priority:        9
  - Regex:           '.*'
    Priority:        10
IncludeIsMainRegex: '$'
IndentWidth: 8
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
FixNamespaceComments: false
PointerAlignment: Right
ReflowComments: true
SpaceBeforeParens: Never
SpaceAfterTemplateKeyword: false
TabWidth: 8
UseTab: ForContinuationAndIndentation
...
