---
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BreakBeforeBinaryOperators: false
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakStringLiterals: true
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyNamespace: true
  SplitEmptyRecord: true
ColumnLimit: 0
PenaltyExcessCharacter: 0
CommentPragmas: ''
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IncludeCategories:
  - Regex:           '^"'
    Priority:        1
  - Regex:           '^<(engine|game|mastersrv|versionsrv>'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
IncludeIsMainRegex: '$'
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
PointerAlignment: Right
ReflowComments: false
SpaceBeforeParens: Never
SpaceAfterTemplateKeyword: false
TabWidth: 4
UseTab: ForContinuationAndIndentation
SpacesInLineCommentPrefix:
  Minimum:  0
  Maximum: -1
...
