# Ignore data-folders outside the root, these are copied around to build
# directories.
data/
!/data/

bundle/
!/other/bundle/

.ninja_deps
.ninja_log
CMakeCache.txt
CMakeFiles
CMakeSettings*
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Debug
Release
_CPack_Packages/
build.ninja
cmake_install.cmake
gmock.pc
gmock_main.pc
googletest-build/
googletest-download/
googletest-src/
gtest.pc
gtest_main.pc
ninja_package
pack_*/
rules.ninja
testrunner\[1\]_include.cmake

# Ignore all the generated executables without extensions (for non-Windows
# systems).
DDNet
DDNet-Server
DDNet-Server-Launcher
config_retrieve
config_store
confusables
crapnet
dilate
dummy_map
fake_server
map_diff
map_extract
map_replace_image
map_resave
map_version
mastersrv
packetgen
testrunner
tileset_borderadd
tileset_borderfix
tileset_borderrem
tileset_borderset
twping
uuid
versionsrv

generated

.cproject
.project
.settings
cscope.files
cscope.out

# bam ignores
/.bam
/config.lua
/objs

*.cmd
*.dll
*.dmg
*.dtb
*.exe
*.filters
*.lnk
*.log
*.opensdf
*.patch
*.pdb
*.prefs
*.pyc
*.res
*.sdf
*.sln
*.suo
*.swp
*.tar.gz
*.tar.xz
*.teehistorian
*.user
*.vcxproj
*.vs
*.zip
