*
!**/
!*.*

src/game/generated

.cproject
.project
*.exe
*.dll
*.dtb
*.log
*.res
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.vs
*.vcxproj
*.filters
*.user
*.cmd
.settings
*.opensdf
*.pyc
cscope.out
cscope.files

CMakeCache.txt
CMakeSettings*
CMakeFiles
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
cmake_install.cmake
/build/
