name: Spelling

on:
  push:
  pull_request:

jobs:
  spelling:
    name: Check spelling
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v4
    - uses: crate-ci/typos@v1.39.0
